[submodule "home-dashboard"]
	path = home-dashboard
	url = https://github.com/alokkusingh/home-dashboard.git
[submodule "spring-batch-pdf-parser"]
	path = spring-batch-pdf-parser
	url = https://github.com/alokkusingh/spring-batch-pdf-parser.git
