[submodule "home-dashboard"]
	path = home-dashboard
	url = https://github.com/alokkusingh/home-dashboard.git
[submodule "yaml/rest-proxy"]
	path = yaml/rest-proxy
	url = https://github.com/alokkusingh/rest-proxy.git
[submodule "rest-proxy"]
	path = rest-proxy
	url = https://github.com/alokkusingh/rest-proxy.git
[submodule "mqtt-proxy"]
	path = mqtt-proxy
	url = https://github.com/alokkusingh/mqtt-proxy.git
[submodule "home-api-service"]
	path = home-api-service
	url = https://github.com/alokkusingh/home-api-service.git
[submodule "home-commons"]
	path = home-commons
	url = https://github.com/alokkusingh/home-commons.git
[submodule "home-etl-service"]
	path = home-etl-service
	url = https://github.com/alokkusingh/home-etl-service.git
[submodule "home-scheduler-task"]
	path = home-scheduler-task
	url = https://github.com/alokkusingh/home-scheduler-task.git
[submodule "liquibase"]
	path = liquibase
	url = https://github.com/alokkusingh/liquibase.git
[submodule "home-category-api"]
	path = home-category-api
	url = https://github.com/alokkusingh/home-category-api.git
[submodule "RaspberryPi-Kubernetes"]
	path = RaspberryPi-Kubernetes
	url = https://github.com/alokkusingh/RaspberryPi-Kubernetes.git
[submodule "home-auth-service"]
	path = home-auth-service
	url = https://github.com/alokkusingh/home-auth-service.git
[submodule "email-service"]
	path = email-service
	url = https://github.com/alokkusingh/email-service.git
[submodule "graalvm-builder"]
	path = graalvm-builder
	url = https://github.com/alokkusingh/graalvm-builder.git
[submodule "home-search-service"]
	path = home-search-service
	url = https://github.com/alokkusingh/home-search-service.git
[submodule "iot-telemetry-service"]
	path = iot-telemetry-service
	url = https://github.com/alokkusingh/iot-telemetry-service.git
[submodule "iot-home-stack"]
	path = iot-home-stack
	url = https://github.com/alokkusingh/iot-home-stack.git
